<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            <div class="message-container {{ message.tags }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <h1>Update User</h1>
        
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value={{user.username}} required>

            <br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value={{user.email}} required>

            <br><br>
            <label for="gender">Gender:</label>
            <select name="gender" id="gender" required>
                <option value="" disabled {% if not user.gender %}selected{% endif %}>Select Gender</option>
                <option value="M" {% if user.gender == 'M' %} selected {% endif %}>Male</option>
                <option value="F" {% if user.gender == 'F' %} selected {% endif %}>Female</option>
                <option value="O" {% if user.gender == 'O' %} selected {% endif %}>Other</option>
                <option value="N" {% if user.gender == 'N' %} selected {% endif %}>Not Specified</option>
            </select>

            <br><br>
            <label for="phone_number">Phone Number:</label>
            <input type="text" name="phone_number" id="phone_number" value={{user.phone_number}}>

            <br><br>
            <label for="address">Address:</label>
            <textarea name="address" id="address" value={{user.address}}></textarea>

            {% if login_user.is_superuser %}
                <br><br>
                <label for="is_active">
                    Is Active
                <input type="checkbox" name="is_active" id="is_active" {% if user.is_active %} checked {%endif%}>
                </label>
                
               
                <label for="is_superuser">
                    
                    Is Superuser
                    <input type="checkbox" name="is_superuser" id="is_superuser" {% if user.is_superuser %} checked {%endif%}>
                </label>
    
            {% endif %}
            
            <br><br>
            <button type="submit">Save User</button>
        </form>

    </div>
</body>
</html>
